SPRING_PROFILES_ACTIVE=pg,mail-noop

APP_PORT=8099
APP_SECURITY_JWT_SECRET=replace-with-strong-jwt-secret-min-32-chars
APP_SECURITY_JWT_EXPIRATION_MS=86400000

APP_BOOTSTRAP_ADMIN_EMAIL=admin@local
APP_BOOTSTRAP_ADMIN_PASSWORD=admin123
APP_BOOTSTRAP_ADMIN_FULL_NAME=System Admin

POSTGRES_DB=courses
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

APP_MAIL_FROM=noreply@example.com
APP_MAIL_INVITE_BASE_URL=http://localhost:8099
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=example@example.com
SPRING_MAIL_PASSWORD=change-me
SPRING_MAIL_PROTOCOL=smtps
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=true